*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#pageContainer {
    width: 100%;
}

#body{
    font-family: 'Roboto', sans-serif;
    
}

header {
    height: 1042px;
    background-image: url(commonFiles/img/headerBackground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#typoContainer {
    color: white;
    opacity: 1;
    font-size: 90px;
    height: 500px;
    width: 1000px;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 500px);
    text-align: center;
}

#pdfButtonContainer {
    height: 32px;
    width: 150px;
    background-color: #c9ced6;
    opacity: 0.8;
    transition: 0.5s;
    position: absolute;
    top: 32px;
    right: 48px;
    border-radius: 15px;
    font-size: 14px;
    color: white;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pdfButtonContainer:hover {
    opacity: 1;
    transition: 0.5s;
}

#pdfIcon {
    position: relative;
    left: 12px;
}

#downArrowContainer {
    border: white 3px solid;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 32px;
    right: 48px;
    animation-name: arrowPointingDown;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
}

@keyframes arrowPointingDown  {
    0% {
        bottom: 32px;
    }

    100% {
        bottom: 24px;
    }
}


#downArrowContainer img {
    width: 50px;
    height: 50px;
    position: relative;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

#contentContainer {
    height: 1080px;
    
}

#countdownContainer {
    font-size: 30px;
    border-radius: 50px;
    background-color: white;
    height: 80px;
    width: 500px;
    position: sticky;
    left: calc(50% - 250px);
    bottom: 24px;
    top:  24px;
    z-index:5;
}

#countdown {
    left: 24px;
    height: 50px;
    width: 340px;
    top: calc(50% - 25px);
    position: relative;
}

#bookingButton {
    width: 50px;
    height: 50px;
    background-color: white;
    border: black 1px solid;
    transition: 0.5s;
    user-select: none;
    position: relative;
    text-align: center;
    top: calc(50% - 75px);
    right: calc(-100% + 80px);
    border-radius: 50px;
    transition: 1s;
}

#bookingButton img{
    height: 40px;
    width: 40px;
    position: relative;
    top: calc(50% - 20px);
}

#bookingButton:hover {
    transition: 1s;
    background-color: black;
}

#concertsContainer {
    background-color: #9ecca8;
    height: 450px;
}

#concertsTitleContainer {
    color:white;
    text-align: center;
    border-radius: 50px;
    font-size: 35px;
    width: 270px;
    position: absolute;
    background: white;
    z-index: 4;
    left: calc(50% - 135px);
    margin-top: -24px;
}

#conferencesContainer {
    background-color: #9ecca8;
    height: 450px;
}

#conferencesTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#bookingContainer {
    background-color: #60966a;
    height: 200px;

}

#bookingTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#exposContainer {
    background-color: #9ecca8;
    height: 450px;
    display: none;
}

#exposTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#workshopContainer {
    background-color: #9ecca8;
    height: 450px;
    display: none;
}

#workshopTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#performanceContainer {
    background-color: #9ecca8;
    height: 450px;
    display: none;
}

#performanceTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#instagramContainer {
    background-color: #60966a;
    height: 450px;
}

#instagramTitleContainer {
    text-align: center;
    color: white;
    border-radius: 50px;
    font-size: 35px;
    width: 380px;
    position: absolute;
    left: calc(50% - 190px);
    margin-top: -24px;
    z-index: 4;
}

#divSwiper {
    height: 350px;
    width: 1100px;
    position: relative;
    top: calc(50% - 195px);
    left: calc(50% - 700px);
}

#displayMoreButton {
    margin-top: 24px;
    border-radius: 50px;
    background-color: white;
    width: 50px;
    height: 50px;
    position: absolute;
    transition: 1s;
    z-index: 6;
}

#displayMoreButton:hover {
    transform: scale(1.2);
    transition: 1s;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 450px;
    height: 350px;
    border-radius: 15px;
  }
  
  .swiper-slide-insta {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: 100%;
  }

  .swiper-slide-insta img {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 15px;
  }

  @media screen and (max-width: 1921px) {
      #divSwiper {
          width: 450px;
      }
  }

  @media screen and (max-width: 1024px) {

    #typoContainer {
        top: calc(25% - 250px);
    }

    #downArrowContainer {
        display: none;
    }
  }